{% extends "user/layout.html"%}
{% block content %}
    

{%endblock%}
{% block morecontent %}

{% for b in books %}
<div class="row">
    <div class="col-4"></div>
<div class="col-4"> 
    <img src="{{ url_for('static', filename='collections/'+b.book_cover)}}" class="img-fluid bk" alt="">
    <div class="deets">
        <h6> <a href="/review/{{b.book_id}}"> {{b.book_title}}</a></h6>
        <p> <i>{{ b.catdeets.cat_name}}</i></p>
        <p> <button class="btn btn-primary btn-sm">{{b.bookreviews|count}} submit a review</button></p>
       
    </div>
</div>
<div class="col-4">
    <select id="category" class="form-select border-primary">
        <option value=""> Please select </option>
        {% for c in cat%}
        <option value="{{c.cat_id}}"> {{c.cat_name}} </option>
        {% endfor %}
    </select>
    <div>
        <input type="text" id="title" class="form-control form-control-lg border-primary" placeholder="type a keyword">
    </div>
    <div>
        <button class="btn btn-primary noround btn-lg col-12" id="btnsearch"> search </button>
    </div>
</div>
</div>
{% endfor %}
{%endblock morecontent%}
{% block featured %}
{%endblock%}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#btnsearch').click(function(){
            //retrive the data
            var cat= $('#category').val()
            var title= $('#title').val()
            //alert(cat+title)
            //make ajax call
            $ajax({
                url:"/search/book",
                data:data2send,
                type:'get',
                success:function(rsp){ alert(rsp)},
                error:function(err){console.log(err)}
            })
        })
    })

</script>

{% endblock %}
